*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 620px;
    margin:20px auto;
    border:10px solid #000;
}

.container:hover .item{
    /* transform: translateX(200%, 200%);  */
    /* transform: scale(.5, 1); */
    /* transform: rotate(5turn); */
    /* transform: rotate(30deg); */
    transform: skew(20deg);
}


.item{
    transition: all 1s;
    background: steelblue;
    width: 100px;
    height: 100px;
    color: #fff;
    margin: 40px;
    /* transform: translateX(200%, 200%); */
    /* transform: scale(.5, 1); */
    /* transform: rotate(.1turn); */
    /* transform: rotate(180deg); */
    transform: translate(30px, 40px) scale(.5);
}